@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
   background: #337099;  
}

.container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  perspective:10000px;
}

h2,p {
  margin:3px 0px;
  color:#e7e7e5;
}
h2 {
  font-size:30px;
}
p {
  font-size:16px;
}

.cube {
  margin:20px 0px 0px;
  height: 50px;
  width: 350px;
  -webkit-transform-style:preserve-3d;  
  transition:all 300ms cubic-bezier(0.4, 0, 1, 1);
  transform:translateZ(-25px);
}

.cube > div {
  position:absolute;
  width:350px;
  height:50px;
  opacity:1;
  backface-visibility:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
.cube > div.empty > *{
  animation:shake 300ms linear infinite; 
}
.cube div > i {
  text-indent:10px;
  width:30px;
  text-align:center;
  height:50px;
  font-size:20px;
  position:absolute;
  left:0px;
  line-height:50px;
  color:#333;
  z-index:10;
}
.cube div input {
  padding:10px 35px 10px 35px;
  flex:1;
  height:50px;
  font-size:17px;
  color:#444;
  outline:none;
}
.cube div button {
  position:absolute;
  right:5px;
  width:40px;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:20px;
  color:#444
}
.front {
  background:#f94073;
  font-size:22px;
  color:#e7e7e7;
  text-transform:uppercase;  
  transform: translateZ(25px);
  box-shadow:0px 2px 15px 0px rgba(17, 17, 17, 0.62);
  cursor:pointer;
}
.back {
 transform: rotateX(-90deg) translateZ(25px);
}
.top {
  transform: rotateX(-180deg) translateZ(25px);
}
.bottom {
  display:inline-block !important;
  transform: rotateX(-270deg) translateZ(25px);
  text-align: center; 
  padding-top:5px;
}
.loading-animation .box {
  display: inline-block;
  margin: 4px;
  width: 17px;
  height: 17px;
}
.box:nth-child(1) {
  background: #b9f; 
  animation:loading 2s ease-in-out infinite;
  animation-delay:0ms;
}
.box:nth-child(2) {
  background: #09e2ec; 
  animation:loading 2s ease-in-out infinite;
  animation-delay:100ms;
}
.box:nth-child(3) {
  background: #F5B52E; 
  animation:loading 2s ease-in-out infinite;
  animation-delay:200ms;
}
.box:nth-child(4) {
  background: #64e68e; 
  animation:loading 2s ease-in-out infinite;
  animation-delay:300ms;
}

.box:nth-child(5) {
  background: #EA225E; 
  animation:loading 2s ease-in-out infinite;
  animation-delay:400ms; 
}

@keyframes loading {
  0% { transform: scale(1.0); border-radius:0%; }
  50% { transform: scale(0.5); border-radius:0%; }
  100% { transform: scale(1.0); border-radius:0%; }
}

@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
}